.bus-marker {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  
  .route-short-name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    z-index: 2;
  }
  
  .bus-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #FFEA3D;
  }
  
.garage-number {
  position: absolute;
  top: 10px;
  font-size: 8px;
  padding: 2px;
  border: 0px solid #000000;
  border-radius: 30%;
  color: #000000;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  line-height: 1;
  width: 16px;
  text-align: center;
  background-color: #fdb913;
}
  
  .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index: 0;
    pointer-events: none;
  }