.bus-marker {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  
  .route-short-name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    transform: translate(-50%, -50%);
    z-index: 2; /* Add a higher z-index to ensure that the route short name appears above the other elements */
  }
  
  .bus-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f1c40f;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .garage-number {
    position: absolute;
    top: 10px; /* Adjust this value to move the garage number up or down */
    font-size: 8px;
    padding: 2px;
    background-color: #3F51B5;
    border: 0px solid #000000;
    border-radius: 30%;
    color: #fff; /* Customize the font color here */
    font-family: 'Inter', sans-serif;
    z-index: 2;
    line-height: 1;
    width: 16px;
    text-align: center;
  }
  
  .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index: 0;
  }