#bus-info {
    position: fixed;
    bottom: 0;
    height: 410px;
    background-color: #0f0f0f;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: transform 0.5s;
    transform: translateY(100%);
    z-index: 1000;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* Default for desktops/large screens */
    left: 270px;
    right: 270px;
}

/* For tablet devices */
@media only screen and (max-width: 768px) {
  #bus-info {
    left: 100px;
    right: 100px;
  }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
  #bus-info {
    left: 0px;
    right: 0px;
  }
}


  #bus-info::-webkit-scrollbar {
    display: none;
  }

  #bus-info.hidden {
    transform: translateY(100%);
  }
  
  #bus-info.visible {
    transform: translateY(0%);
  }

  #close-bus-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }
  
  .bus-info-text {
    color: #ffffff;
  }

  .bus-info-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row; /* Default direction for larger screens */
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
    .bus-info-content {
        flex-direction: column; /* Change direction to column for smaller screens */
    }
}


.bus-info-bottom {
    border-radius: 20px;
    height: 40%;
    width: auto;
    max-width: 100%;
}

/* For tablet devices */
@media only screen and (max-width: 768px) {
    .bus-info-bottom {
        max-width: 40%; /* Adjust as needed */
    }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
    .bus-info-bottom {
        max-width: 100%; /* Adjust as needed */
        height: auto; /* You might want to adjust the height for mobile devices */
    }
}

  
  .bus-info-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    flex-grow: 1;
    padding-left: 20;
  }

  .route-number {
    background-color: #8BC34A; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

/* gradient for pathway and the km/h text*/

  .boring-text {
      background-image: linear-gradient(45deg, #fffbd5, #FFEB3B, #fffbd5);
      background-size: 200% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      animation: gradient-animation 10s infinite linear;
    }
    
    @keyframes gradient-animation {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }

  .speed-number {
    background-color: #CDDC39; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .timestamp-number {
    background-color: #FFEB3B; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .delay-number {
    background-color: #FFC107; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .planned-number {
    background-color: #FF9800 ; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .stop-number {
    background-color: #FF5722 ; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .pass-number {
    background-color: #F44336; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .gar-number {
    background-color: #2196F3; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .model-text {
    background-color: #03A9F4; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .type-text {
    background-color: #00BCD4; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .plates-text {
    background-color: #009688; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .debug-text {
    background-color: #4CAF50; /* Change this to the desired background color */
    color: #000000;
    padding: 3px 6px;
    border-radius: 9px;
    font-weight: bold;
  }

  .bus-image {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 205px;
    object-fit: cover;
    border-radius: 25px;
  }