/* Background za stranicu */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2E3440;
}

/* Font obitelj i velicina */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

/* Stil za tekst ili tako nesto idk retardiran sam */
h1 {
  position: absolute;
  width: 437px;
  height: 116px;
  left: 741px;
  top: 75px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 116px;
  text-align: center;
  color: #D8DEE9;
}

/* Isto sranje ka i gore */
.text {
  position: absolute;
  width: 257px;
  height: 19px;
  left: 831px;
  top: 241px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #D8DEE9;
}

/* Stil za pravokutnik PrometSplit(mat mi je losa pa ja msm da je pravokutnik) */
.rectangle {
  position: absolute;
  width: 437px;
  height: 128px;
  left: 741px;
  top: 313px;
  background: #FFEC00 url('https://i.imgur.com/JEnagSb.png') no-repeat center/contain;
  border-radius: 65px;
}

/* Stil za pravokutnik HZPP */
.rectangle2 {
  position: absolute;
  width: 437px;
  height: 128px;
  left: 741px;
  top: 513px;
  background: #ECEFF4 url('https://i.imgur.com/LIAuEtr.png') no-repeat center;
  background-size: 85%;
  border-radius: 65px;
}

/*Stil za tekst skroz dole? */
.made-by {
  position: absolute;
  width: 204px;
  height: 29px;
  left: 858px;
  top: 1001px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #D8DEE9;
}
