/* makes the icon */

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 35%;
    cursor: pointer;
    z-index: 1001;
    background-color: #FFEA00;
    background-image: linear-gradient(90deg, #FF6D00 0%, #FFA500 25%, #FFFF00 50%, #FFA500 75%, #FF6D00 100%);
    background-size: 400% 400%;
    animation: sidebarAnimation 10s linear infinite;
  }
  
  /* does the icon gradient animation*/

  @keyframes sidebarAnimation {
    0% {
      background-position: 0% 50%;
    }
    5% {
      background-position: 10% 50%;
    }
    10% {
      background-position: 20% 50%;
    }
    15% {
      background-position: 30% 50%;
    }
    20% {
      background-position: 40% 50%;
    }
    25% {
      background-position: 50% 50%;
    }
    30% {
      background-position: 60% 50%;
    }
    35% {
      background-position: 70% 50%;
    }
    40% {
      background-position: 80% 50%;
    }
    45% {
      background-position: 90% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    55% {
      background-position: 90% 50%;
    }
    60% {
      background-position: 80% 50%;
    }
    65% {
      background-position: 70% 50%;
    }
    70% {
      background-position: 60% 50%;
    }
    75% {
      background-position: 50% 50%;
    }
    80% {
      background-position: 40% 50%;
    }
    85% {
      background-position: 30% 50%;
    }
    90% {
      background-position: 20% 50%;
    }
    95% {
      background-position: 10% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* makes the icon turn into x */

  .sidebar-toggle i {
    font-size: 24px;
    transition: transform 0.5s, opacity 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  /* animates the icon */

  .sidebar-toggle .icon-close {
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .sidebar-toggle.open .icon-open {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
  .sidebar-toggle.open .icon-close {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(360deg);
  }

  /* makes the sidebar */

  .sidebar {
    position: fixed;
    top: 0;
    left: -280px;
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    transition: left 1s;
    z-index: 1000;
    padding: 1rem; 
    box-shadow: 5px 0px 5px #1a1a1a;
    overflow-y: auto;
    border-radius: 0%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-sizing: border-box;
  }
  
  .sidebar.open {
    left: 0;
  }

  .toggle-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    top: 50px;
  }
  
  .toggle-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #000000;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .toggle-input:checked + .toggle-slider {
    background-color: #FFC107;
    background-image: linear-gradient(90deg, #FF6D00 0%, #FFA500 25%, #FFFF00 50%, #FFA500 75%, #FF6D00 100%);
    background-size: 400% 400%;
    animation: slidaAnimation 5s linear infinite;
  }
  
  @keyframes slidaAnimation {
    0% {
      background-position: 0% 50%;
    }
    14.28% {
      background-position: 20% 50%;
    }
    28.57% {
      background-position: 40% 50%;
    }
    42.85% {
      background-position: 60% 50%;
    }
    57.14% {
      background-position: 80% 50%;
    }
    71.42% {
      background-position: 100% 50%;
    }
    85.71% {
      background-position: 80% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .toggle-input:checked + .toggle-slider:before {
    transform: translateX(10px);
  }
  