.train-marker {
    background: linear-gradient(45deg, #004D80 0%, #0065A1 25%, #0084CA 50%, #0065A1 75%, #004D80 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 7px;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .train-number {
    font-size: 12px;
    font-family: 'Roboto' , sans-serif;
    color: #F2F2F2;
  }