.layers-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border: none;
    border-radius: 35%;
    color: #000000;  /* does not change anything, change in html */
    background-color: #f1f1f1; /* change bg color*/
    cursor: pointer;
    z-index: 1001;
  }