.layers-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border: none;
    border-radius: 35%;
    color: #000000;  /* does not change anything, change in html */
    background-color: #f1f1f1; /* change bg color*/
    cursor: pointer;
    z-index: 1001;
  }

  #layers-sidebar {
    position: absolute;
    top: 0;
    left: 100%;
    width: 270px;
    height: 100%;
    background-color: #000000;
    transition: left 0.3s;
    z-index: 1000;
    padding: 1rem;
    border-radius: 0%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow-y: auto;
/*    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3); */ /* Looks gay so currently not implementing it, however eventually i might */
  }
  
  #layers-sidebar.open {
    left: calc(100% - 270px);
  }

  /* layers */
.provider {
    margin-bottom: 1rem;
  }
  
  .provider-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .provider:first-child .provider-title {
    margin-top: 72px;
  }
  
  .provider-title i {
    transition: transform 0.3s;
    margin-right: 10px;
  }
  
  .layers {
    max-height: 0;
    overflow: hidden;
    padding-left: 1rem;
    transition: max-height 0.3s;
  }
  
  .layer-option {
    cursor: pointer;
    margin-top: 0.5rem;
  }

  .layer-option.selected {
    background-color: #FF9800;
    color: #000000;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 3px 0;
  }
