.layers-toggle {
    position: fixed;
    top: 1%;
    left: 97%;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border: none;
    border-radius: 35%;
    color: #000000;  /* change ico color */
    background-color: #f1f1f1; /* change bg color*/
    cursor: pointer;
    z-index: 1001;
  }