  .unselectable {
    -webkit-touch-callout: none;  /* iOS Safari */
    -webkit-user-select: none;    /* Safari */
    -khtml-user-select: none;     /* Konqueror HTML */
    -moz-user-select: none;       /* Old versions of Firefox */
    -ms-user-select: none;        /* Internet Explorer/Edge */
    user-select: none;            /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
  }

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border: none;
    border-radius: 35%;
    color: #000000;  /* change ico color */
    background-color: #f1f1f1; /* change bg color*/
    cursor: pointer;
    z-index: 1001;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -270px; /* Hide sidebar by default */
    width: 250px;
    height: 100%;
    padding-top: 72px;
    padding-left: 20px;
    border-radius: 0%;
    color: #ffffff;  /* change font color */
    background-color: #000000;  /* change bg color */
    overflow-x: hidden;
    transition: 0.3s; /* transition speed (but im making this so if i ever want to make it slower or faster i can ig */
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    box-sizing: border-box; /* this fixed bottom right fucking not being rounded, took me like 10 fucking minutes to figure out ffs */
  }
  
  .sidebar.active {
    left: 0;
  }

  .toggle-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
  }
  
  .toggle-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .toggle-slider {    /* what does this do edit: nvm i figured it out xd was just commenting da code n brain fart */
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #000000;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .toggle-input:checked + .toggle-slider {
    background-color: #FF9800;
  }
  
  .toggle-input:checked + .toggle-slider:before {
    transform: translateX(10px);
  }