.bus-circle {
    position: relative;
    background-color: #f1c40f;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    width:25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
  }
  
  .bus-icon-image {
    display: none;
  }