.bus-circle {
  position: relative;
  background-color: #f1c40f;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.bus-square {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 3px;
  z-index: -1;
}

.bus-icon-image {
  display: none;
}