/* Change the font family of the layer control button */
.leaflet-control-layers, .leaflet-control-layers * {
    font-family: 'Inter', Arial, sans-serif;
}

/* Change the background color of the layer control button */
.leaflet-control-layers {
    background-color: #636e72;
}

/* Change the font color of the layer names in the layer control button */
.leaflet-control-layers-label {
    color: #ffffff;
}

/* Change the border color of the layer control button */
.leaflet-control-layers {
    border: 2px solid #000000;
}

/* Change the padding of the layer control button */
.leaflet-control-layers {
    padding: 10px;
}

/* Change the font size of the layer names in the layer control button */
.leaflet-control-layers-label {
    font-size: 14px;
}

/* Change the font weight of the layer names in the layer control button */
.leaflet-control-layers-label {
    font-weight: bold;
}

/* Change the spacing between the layer names in the layer control button */
.leaflet-control-layers-label {
    margin-bottom: 5px;
}

.leaflet-control-layers-label {
    color: #fff !important;
    font-family: 'Inter', Arial, sans-serif;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #dfe6e9;
    background: #2d3436;
}