.bus-marker {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .route-short-name {
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333; /* Customize the font color here */
    z-index: 2;
  }
  
  .bus-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f1c40f;
    z-index: 1;
  }
  
  .garage-number {
    position: absolute;
    bottom: -15px; /* Adjust this value to move the garage number up or down */
    font-size: 8px;
    padding: 2px;
    background-color: #e74c3c;
    border: 0px solid #000000;
    border-radius: 45%;
    color: #fff; /* Customize the font color here */
    z-index: 2;
  }
  
  .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index: 0;
  }