#bus-info {
    position: fixed;
    bottom: 0;
    left: 270px; /* distance from the left edge of the screen */
    right: 270px; /* distance from the right edge of the screen */
    height: 500px; /* set the height of the bottom bar */
    background-color: #000000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.5s;
    transform: translateY(100%);
    z-index: 1000;
    overflow-y: auto; /* add scrolling for overflowing content */
  }
  
  #bus-info.hidden {
    transform: translateY(100%);
  }
  
  #bus-info.visible {
    transform: translateY(0%);
  }

  #close-bus-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }